body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

     /* NavBar Style */
.nav-logo{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   margin: 0;
   padding: 0;
}

.navbar {
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: #FFFFFF;
    }

    .menu.active a {
        margin: 10px 0;
    }

}


/* <!-- First Banner Section style */

.build-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  padding-bottom: 0;
  padding-top: 5rem;
}
.image-banner{
  position: absolute;
  right: 0;
  top: 23.8rem;
}
.talks-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #FF5C01;
  color: white;
  border: none;
  border-radius: 5px;
  

}
 
/* <!-- Second Our Service --> */

.main-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
}

.main-box>div{
  box-shadow: 5px 5px 8px gray;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding-top: 30px;
}

.circle{
height: 46px;
width: 46px;
background-color: rgb(223, 194, 194);
border-radius: 90%;
margin-left: 20px;
}
.circle1{
height: 46px;
width: 46px;
background-color: #FF5C01;
border-radius: 90%;
margin-left: 20px;

}
@media (max-width: 768px) {
  .main-box {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  section{
    margin: 0px;
  }
  .circle{
    margin-left: 5px;
  }
  .circle1{
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .main-box {
    grid-template-columns: 1fr;
  }
  section{
    margin: 0px;
  }
  .circle{
    margin-left: 2px;
  }
  .circle1{
    margin-left: 2px;
  }
}

/* <!-- 3rd work Section --> */
.work-section{
  background-color: #171818;
  margin-top: 100px;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.my-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #DD2626;
  color: white;
  border: none;
  border-radius: 5px;
  

}


/* <!-- 4th World Section --> */

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  align-items: center;
  padding: 20px;
  gap: 10px;
  margin-top: 120px;
}
.text-flex{
  display: flex;
  gap: 10px;
}

/* <!-- Works All Section --> */

.main-section{
  background-color: black;
  margin-top: 120px;
  padding: 50px;
}

.text-area{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.works{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}
  
/* <!-- 6th Image Block section --> */

.image-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;

}
@media (max-width: 768px) {
  .image-box {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  
}

@media (max-width: 480px) {
  .image-box {
    grid-template-columns: 1fr;
  }
  
}
.grid-item {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
.item1 {
  grid-column: 3 / span 2;
  grid-row: 1;
}


.view-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: semibold;
  text-align: end;
  margin-top: 20px;
  text-decoration: none;
  background-color: #FF5C01;
  color: white;
  border: none;
  border-radius: 5px;
}


   /* Footer */

   .footer-container{
    display:grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
   }
   @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .footer-container {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
  }
  .footer>h1{
    color: #F1F1F1;
  }
  .footer>p{
    color: #999999;
  }
  
  

  
  


  
  
    
